/* EXERCISE REQUIRED CSS */

/* .article {
    padding: 10px;
    border: 1px solid blue;
}

.article__header {
    font-size: 1.5em;
}

.article__footer {
    padding: 0 30px;
}

.goldenrod {
    background-color: goldenrod;
}

.dashed {
    border: 1px dashed black;
} */

/* PERSONAL CSS ADDED */

body {
    margin: unset;
    min-width: 910px;
}

a {
    text-decoration: none;
}

.nav__header > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav__header > ul > li {
    text-decoration: none;
    padding: .5em 1em .5em 1em;
}

.nav__header > ul > li:hover, .active {
    background-color: #C7E3E6;
}

.nav__header a {
    color: rgba(0, 0, 0, 0.34);
}

.nav__header > ul > li > a:hover {
    color: black;
}

.article {
    position: relative;
}

.article__img {
    max-height: 40em;
    min-height: 35em;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.container--main {
    width: 57%;
    margin: auto;
}

.article__header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    padding-top: 1em;
}

.article__header--main {
    text-align: left;
    color: white;
    margin: unset;
    padding-top: 12em;
}

.article__title {
    font-size: 40px;
}

.article__subtitle {
    font-size: 18px;
}

.article__info {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    color: white;
    text-align: left;
    text-transform: uppercase;
    margin: 0 auto;
    padding-bottom: 1em;
}

.article__content {
    background-color: white;
    box-shadow: 0 -2rem 2rem rgba(0,0,0,0.05);
    padding: 1em 3em 0 3em;
}

.article__toc a {
    color: #268bd2;
}

.article__content > img {
    display: block;
    max-width: 90%;
    margin: 3em auto;
    border-radius: 5%;
}

.article__content--intro {
    padding-top: 1.3em;
}

.article__blockquote {
    float: right;
    width: 30%;
    margin: 0 1em 0 1em;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.article__blockquote > p {
    margin-block-start: 0;
}
